@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@config "../../tailwind.config.ts";

body {
  color: var(--color-gray-950); /* 색을 지정하지 않으면 기본 gray-950 */
}

@font-face {
  font-family: "Pretendard Variable";
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 45 920; /* 가변 폰트일 경우 범위 */
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Typography */
  --font-pretendard: "Pretendard Variable";
  --font-title-50: 600 50px/100% var(--font-pretendard); /* 이름은 임시, 순서대로 weight, size, lineheight, font-family */
  --font-title-40: 600 40px/100% var(--font-pretendard);
  --font-title-30: 600 30px/100% var(--font-pretendard);
  --font-title-30-m: 500 30px/100% var(--font-pretendard);
  --font-title-24: 600 24px/100% var(--font-pretendard);
  --font-title-24-m: 500 24px/100% var(--font-pretendard);
  --font-title-20: 600 20px/100% var(--font-pretendard);

  --font-basic-24-m: 500 24px/28px var(--font-pretendard);
  --font-basic-20-m: 500 20px/28px var(--font-pretendard);
  --font-basic-20: 400 20px/100% var(--font-pretendard);
  --font-basic-16: 400 16px/100% var(--font-pretendard);

  --font-light-16: 300 16px/20px var(--font-pretendard);

  /* Colors */
  --color-*: initial; /* 커스텀 컬러로 사용 */

  /* Primary */
  --color-purple-50: #f5f2ff;
  --color-purple-100: #ebe8ff;
  --color-purple-200: #dad4ff;
  --color-purple-300: #c0b1ff;
  --color-purple-400: #a185ff;
  --color-purple-500: #7b47ff;
  --color-purple-600: #7530f7;
  --color-purple-700: #671ee3;
  --color-purple-800: #5518bf;
  --color-purple-900: #47169c;
  --color-purple-950: #2b0b6a;

  /* Secondary */
  --color-green-500: #63d661;

  /* Gray */
  --color-gray-50: #f6f6f6;
  --color-gray-100: #e7e7e7;
  --color-gray-200: #d1d1d1;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #888888;
  --color-gray-500: #6d6d6d;
  --color-gray-600: #5d5d5d;
  --color-gray-700: #4f4f4f;
  --color-gray-800: #454545;
  --color-gray-900: #3d3d3d;
  --color-gray-950: #282828;

  /* Theme(커스터마이징 테마색) */

  /* Profile */
  --color-yellow-profile: #face34;
  --color-beige-profile: #efdcac;
  --color-blue-profile: #70a2db;
  --color-pink-profile: #ffb4cb;
  --color-green-profile: #c6d657;
  --color-brown-profile: #a79b97;

  /* ETC.. */
  --color-red-100: #d73b3b;
  --color-orange-100: #fb9536;

  --color-black: #2a282d;
  --color-white: #ffffff;
}

@layer utilities {
  /* Typography */
  .font-title-50 {
    font: var(--font-title-50);
  }
  .font-title-40 {
    font: var(--font-title-40);
  }
  .font-title-30 {
    font: var(--font-title-30);
  }
  .font-title-30-m {
    font: var(--font-title-30-m);
  }
  .font-title-24 {
    font: var(--font-title-24);
  }
  .font-title-24-m {
    font: var(--font-title-24-m);
  }
  .font-title-20 {
    font: var(--font-title-20);
  }

  .font-basic-24-m {
    font: var(--font-basic-24-m);
  }
  .font-basic-20-m {
    font: var(--font-basic-20-m);
  }
  .font-basic-20 {
    font: var(--font-basic-20);
  }
  .font-basic-16 {
    font: var(--font-basic-16);
  }

  .font-light-16 {
    font: var(--font-light-16);
  }

  /* Gradient */
  .text-gradient-to-r {
    @apply bg-gradient-to-r bg-clip-text text-transparent;
  }
  .input-gradient-border {
    @apply rounded-full bg-gradient-to-r p-2;
  }
  .input-inner {
    @apply h-full w-full rounded-full bg-white px-16 py-12 text-gray-950 outline-none;
  }

  /* Card Hover Effect */
  .card-hover-effect {
    @apply transition duration-300 ease-out hover:shadow-[0_0_3px_#7B47FF];
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
